.patterns-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 84vh;
}

@media screen and (max-width: 460px) {
  .patterns-container {
    display: block;
  }
}
