.all-favs-section {
  /* padding: 20px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0px;
  background-color: #FFF;
  color: #000;
  justify-content: space-around; */
}

.favorites-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-faves-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0px;
  background-color: #FFF;
  color: #000;
  justify-content: space-around;
}

.favs-title, .favorites-name {
  color: #45d2d8;

}
.favs-title {
  font-size: 30px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.favorites-name {
  margin-top: 5px;
}

.my-collection {
  display: none;
}

@media screen and (min-width: 460em) {
  .patterns-container {
    display: block;
  }
}
