.nav-bar {

}
.navigation {
  display: flex;
  justify-content: space-around;
}

.nav-button {
  text-decoration: none;
  color: #000;
}

.nav-button:hover {
  text-decoration: underline;
}

.active {
  visibility: hidden;
}
