.pattern-detail {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.pattern-image {
  margin-bottom: 12px;
}

.pattern-name {
  color: #45d2d8;
}
